.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1%;
}

.App-link {
  color: #61dafb;
}

.block input {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 12pt;
  display: inline-block;
  vertical-align: center;
  margin-left:10px;
  width: 200px;
  border-color: black;
}

.block select {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12pt;
  display: inline-block;
  vertical-align: center;
  width: 200px;
  border-color: black;
}

.block label {
  display:inline-block;
  font-size: 12pt;
  font-weight: bold;
  padding-top: 5px;
  text-align: right;
  width: 160px;
  clear: both;
  margin-right:15px;
}

.modebar{
  display: none !important;
}

html, body {
  overscroll-behavior: contain;
  background-color: #282c34;
}

input {
  resize: horizontal;
  width: 200px;
}

.row-forms {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 5%;
}

.row-icons {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 35vw;
  gap: 2vw;
}

.bg-form {
  background-color: gray;
  padding: 20pt;
  border-radius: 20px;
}

.bg-form-plot {
  background-color: gray;
  padding: 1%;
  border-radius: 20px;
}

h1 {
  margin-top: 0px;
  font-size: 28pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 18pt;
}

p {
  font-size: 14pt;
  text-align: left;
  line-height: 30pt;
  margin: 0 10% 1% 10%;
}

li {
  font-size: 14pt;
  text-align: left;
  line-height: 30pt;
  margin: 0 10% 2% 10%;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.button {
  background-color: #61dafb;
  border-color: black;
  color: black;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12pt;
  transition-duration: 0.4s;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:hover {
  background-color: #282c34;
  color: white;
}

.icon {
  background-color: white;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 0.6%;
}

a.img-link {
  color: black;
  transition: transform 250ms;
  display: inline-block;
}

a.img-link:hover {
  transform: translateY(-2px);
}

a.link-inline {
  color: white;
}

.copyright {
  color: gray;
  font-size: 10pt;
}

.scroll-button {
  font-size: 30pt;
  color: #61dafb;
  border-color: rgba(0,0,0,0);;
  background-color: rgba(0,0,0,0);
  font-size: 1.5em;
  padding: 0.6%;
  position: fixed;
  right: 2%;
  bottom: 2%;
  transition-duration: 0.4s;
}

.scroll-button:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-around;
  cursor: pointer;
  pointer-events: all;
  padding: 0;
  width: 80vw;
  margin-top: -5%;
}

.navbar li {
  text-align: center;
  margin: 0;
  width: 16vw;
}

.navbar li:hover {
  opacity: 0.8;
  transform: translateY(-2px);
  border-bottom: 2px solid #61dafb;
  padding-bottom: 5px;
}
