.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.App-link {
  color: #61dafb;
}

.block input {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 12pt;
  display: inline-block;
  vertical-align: center;
  margin-left:10px;
  width: 200px;
  border-color: black;
}

.block select {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12pt;
  display: inline-block;
  vertical-align: center;
  width: 100px;
  border-color: black;
}

.block label {
  display:inline-block;
  font-size: 12pt;
  font-weight: bold;
  padding-top: 5px;
  text-align: right;
  width: 160px;
  clear: both;
  margin-right:15px;
}

.modebar{
  display: none !important;
}

html, body {
  overscroll-behavior: contain;
  background-color: #282c34;
}

input {
  resize: horizontal;
  width: 200px;
}

.row-forms {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.bg-form {
  background-color: gray;
  padding: 20pt;
  border-radius: 20px;
}

h1 {
  margin-top: 0px;
}

h2 {
  font-size: 20pt;
}

.button {
  background-color: #61dafb;
  border-color: black;
  color: black;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12pt;
  transition-duration: 0.4s;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:hover {
  background-color: #282c34;
  color: white;
}
